/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to bottom right, #e91e63, #9c27b0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #1c2938;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 500px;
  text-align: center;
}

.container h1 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#survey-form .form-group {
  margin-bottom: 1.5rem; 
}

#survey-form label {
  color: #ccc; 
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

#survey-form input, #survey-form select, #survey-form textarea {    
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background-color: #2e3a4d;
  color: #fff;
}

.form-group{
 text-align: left;
}

.gender{
  text-align: center;
}

.radio label{
  display: block;  
}

.checkboxes{
  text-align: center; 
}

.checkboxes label{
  margin: 1rem;
}

#survey-form input::placeholder, #survey-form textarea::placeholder {
  color: #666;
}

#survey-form select {
  cursor: pointer;
}

#survey-form .form-group p ,p{
  color: #ccc;
  margin-bottom: 1.5rem;
}

.user{
  display: flex;
  align-items: center;  
}

.user label {
  flex: 1;   
}

.user input{
  flex: 4;
  margin-bottom: 0.6rem;
}

#survey-form .checkboxes label {  
  color: #ccc;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

#survey-form textarea {
  width: 100%;
  height: 80px;
  resize: none;
}

#submit {  
  background-color: #009688;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}
.textarea{
  width: 100%;
}

#submit:hover {
  background-color: #00796b;
}