*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
}

:root{
    --bg-color: #f4f4f4;
    --second-bg-color: #333;
    --text-color : #333;
    --second-text-color : #666;
}

body{
    background-color: var(--bg-color);
}

.header{ 
    padding: 1rem; 
    width: 100%;    
    justify-content: center;
    align-items: center;
    text-align: center;       
    background-color: var(--second-bg-color);    
}

a{
    color: #f4f4f4;
}

h2{
    color: var(--second-bg-color);
    margin: 2rem 0 0 1rem;
}

section{
    display: flex;
    justify-content: center;
}

.post-summary{
    width: calc(100% - 2rem);
    margin: 2rem;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding: 1rem 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
h3{    
    margin: 1rem;
}
p{
    margin: 2rem 1.5rem;
    text-align: left;
    color: var(--second-bg-color);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 9%;    
    background-color: var(--second-bg-color);   
}
footer p{
    text-align: center;
    color: var(--bg-color);
}

ul{
    display: flex;
    justify-content:center;    
}
li{
    margin: 1rem;
}
h1{
    color: var(--bg-color);
}
h3 a{
    color: var(--second-bg-color);
}
img{    
    height: 300px;
    width: 250px;
}
